//- Main Config file
- var author         = "ideonetwork"
- var lang           = "it"

- var pageTitle      = "Your next awesome project."
- var metaDesc       = ""
- var mainUrl        = ""
- var pageUrl        = mainUrl + ""

mixin ie(condition)
  <!--[!{condition}]>
  block
  <![endif]-->
